#####################################################
# Ultramarine3D - Manta M8P V2 + EBBCan (EBB36) – Klipper Config
#####################################################

[include ebb36.cfg]  # Include your EBBCan extruder/probe/fan config

[virtual_sdcard]
path: /home/ultramarine/printer_data/gcodes

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_15000F001751313434373135-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 5500
max_z_velocity: 8
max_z_accel: 20

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,20

[input_shaper]



#####################################################
# Stepper Motors – X/Y/Z
#####################################################

# Motor A → X
[stepper_x]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 365
homing_speed: 35
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC13
diag_pin: ^PF4
run_current: 1.20
stealthchop_threshold: 0
driver_SGTHRS: 35

# Motor B → Y
[stepper_y]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 365
homing_speed: 35
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PE3
diag_pin: ^PF3
run_current: 1.20
stealthchop_threshold: 0
driver_SGTHRS: 35

# Z0 → Motor5
[stepper_z]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -17.0
position_max: 250
homing_speed: 10
second_homing_speed: 5
homing_retract_dist: 5

[tmc2209 stepper_z]
uart_pin: PG14
run_current: 0.50
stealthchop_threshold: 0

# Z1 → Motor6
[stepper_z1]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 16
rotation_distance: 4

[tmc2209 stepper_z1]
uart_pin: PG10
run_current: 0.50
stealthchop_threshold: 0

# Z2 → Motor7
[stepper_z2]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 4

[tmc2209 stepper_z2]
uart_pin: PB5
run_current: 0.50
stealthchop_threshold: 0



#####################################################
# Fans
#####################################################

#[fan]
#pin: EBBCan: PA0
#kick_start_time: 0.5

#[heater_fan fan1]
#pin: EBBCan: PA1
#heater: extruder
#heater_temp: 38

[fan_generic pi_cooling]
pin: PF7
kick_start_time: 0.5

[fan_generic mcu_cooling]
pin: PF9
kick_start_time: 0.5

[fan_generic driver_coling]
pin: PF6
kick_start_time: 0.5

[fan_generic el_cooling]
pin: PA4
kick_start_time: 0.5

[fan_generic another_fan]
pin: PF8
kick_start_time: 0.5


#####################################################
# Heated Bed
#####################################################

[heater_bed]
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB1
#control: pid
#pid_Kp: 60.0
#pid_Ki: 1.2
#pid_Kd: 300
min_temp: 0
max_temp: 110

[temperature_sensor heater_bed_2]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
min_temp: 0
max_temp: 110



#####################################################
# Z Tilt
#####################################################

[z_tilt]
z_positions:
    350, 360
    200, 10
    10, 360
points:
    300, 340
    180, 75
    50, 340
speed: 200
horizontal_move_z: 20
retries: 5
retry_tolerance: 0.007



#####################################################
# Bed Mesh
#####################################################

[bed_mesh]
speed: 200
horizontal_move_z: 20
mesh_min: 30, 30
mesh_max: 320, 320
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10



#####################################################
# Probe / Tooling
#####################################################

[include klicky-probe.cfg]



#####################################################
# Display
#####################################################

[display_status]

[display] # BTT Mini12864 v2.0 connected via FPC cable
lcd_type: uc1701
cs_pin: PG0
a0_pin: PF15
rst_pin: PF14
encoder_pins: ^PE10, ^PE15
click_pin: ^!PG1
contrast: 63
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12

[output_pin beeper]
pin: PE7

[neopixel mini12864] # Control the mini12864 RGB LEDs
pin: PF13
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

## Set the idle color on boot.
## Index 1 = display, Index 2 and 3 = knob LEDs
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
    SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=0 INDEX=1 TRANSMIT=0
    SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=0 INDEX=3



#####################################################
# Print Lifecycle Macros
#####################################################

[gcode_macro PRINT_START]
gcode:
    # Slicer-provided values.
    {% set BED_TEMP      = params.BED_TEMP|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|float %}
    {% set AREA_START    = params.AREA_START|default("15,25")|string %}
    {% set AREA_END      = params.AREA_END|default("365,365")|string %}

    # Parse the requested print area for adaptive meshing.
    {% set area_start_x = AREA_START.split(",")[0]|float %}
    {% set area_start_y = AREA_START.split(",")[1]|float %}
    {% set area_end_x   = AREA_END.split(",")[0]|float %}
    {% set area_end_y   = AREA_END.split(",")[1]|float %}

    # 1. Preheat the bed and switch the display to the active-print color.
    M140 S{BED_TEMP}
    SET_LED LED=mini12864 RED=1 GREEN=0 BLUE=0 INDEX=1 TRANSMIT=0
    SET_LED LED=mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3

    # 2. Home the machine.
    G28 X                         # Home X first
    G28 Y                         # Home
    G28 X                         # Home X again to ensure it's square with Y
    G28 Y                         # Home Y again to ensure it's square with X               
    G28 Z                         # Home Z (all 3 motors)

    # 3. Level the gantry before probing the bed.
    Z_TILT_ADJUST

    # 4. Wait until the bed is close to target temp.
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP - 2}
    # Hold nozzle at safe temp during probing

    # 5. Mesh only the requested print area.
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ALGORITHM=bicubic \
        MESH_MIN={area_start_x},{area_start_y} \
        MESH_MAX={area_end_x},{area_end_y} \
        PROBE_COUNT=5,5

    # 6. Heat the nozzle to the slicer temperature.
    G1 X175 Y10 Z10 F6000
    M109 S{EXTRUDER_TEMP}

    # 7. Purge lines.
        # Thick line first to clean the nozzle.
    G1 X65  Y365 Z0.20 F3000           ; move to start of thick line, lower Z to squish
    G1 X300 Y365 Z0.20 E28 F600        ; draw thick line left→right with extra extrusion
    G92 E0
        # Thin line second to stabilize flow.
    G92 E0
    G1 X300 Y360 Z0.25 F3000           ; move to start of thin line
    G1 X65  Y360 Z0.25 E12 F1500       ; draw thin line right→left
    G92 E0


    # 8. Move to the first print position.
    G1 Z2.0 F3000
    G1 X{area_start_x} Y{area_start_y} F6000
    G1 Z0.2 F300
    M117 Printing...



[gcode_macro PAUSE]
description: Pause the current print
variable_extrude: 10.0
gcode:
    # Lift safely without exceeding the Z limit.
    {% set z = printer.toolhead.position.z %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set lift = 10.0 %}
    {% if z + lift > max_z %}
        {% set lift = max_z - z %}
    {% endif %}

    SAVE_GCODE_STATE NAME=PAUSE_state
    G91
    G1 Z{lift} F600
    G90
    G1 X10 Y10 F6000
    M83
    G1 E-{printer["gcode_macro PAUSE"].extrude} F1800

[gcode_macro RESUME]
description: Resume the current print
gcode:
    M83
    G1 E10.0 F1800
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1

[gcode_macro CANCEL_PRINT]
gcode:
    # Save the current position so cancel can recover cleanly.
    {% set x_park = 0 %}
    {% set y_park = 0 %}
    {% set z_hop  = [printer.toolhead.position.z + 10, printer.toolhead.axis_maximum.z]|min %}

    # Stop all heaters immediately.
    M104 S0                                           # Nozzle off
    M140 S0                                           # Bed off
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0  # Bed off via explicit heater call

    # Retract, lift, and park.
    SAVE_GCODE_STATE NAME=CANCEL_STATE
    G91
    G1 E-3 F3600                  # Retract 3mm to reduce ooze
    G90
    G1 Z{z_hop} F3000             # Lift Z (capped at max)
    G1 X{x_park} Y{y_park} F6000  # Park at 0, 0

    # Hand control back to Klipper and restore the UI to idle green.
    CANCEL_PRINT_BASE             # Klipper's internal cancel
    M107                          # Fan off
    M84                           # Motors off
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=CANCEL_STATE
    SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=0 INDEX=1 TRANSMIT=0
    SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=0 INDEX=3
    M117 Print Cancelled

[gcode_macro PRINT_END]
gcode:
    G90
    # Park high enough to clear the print, but do not over-raise unnecessarily.
    {% set z = printer.toolhead.position.z|float %}
    {% if z < 150 %}
        G1 Z150 F3000
    {% elif z < 200 %}
        G1 Z200 F3000
    {% endif %}
    # Home position for the toolhead before shutdown.
    G1 X0 Y0 F6000            # Park at 0 0
    M104 S0                   # Nozzle off
    M140 S0
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0
    M84                       
    BED_MESH_CLEAR
    # Idle / finished state should be green.
    SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=0 INDEX=1 TRANSMIT=0
    SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=0 INDEX=3
    M117 Print Complete


[gcode_macro BED_TEMP_CHECK]
gcode:
    # Compare the two bed temperature sensors and shut down if they drift too far apart.
    {% set main = printer.heater_bed.temperature %}
    {% set aux = printer["temperature_sensor heater_bed_2"].temperature %}
    {% set diff = (main - aux) | abs %}

    M118 Bed temp diff: {diff}C

    {% if diff > 10 %}
    M118 WARNING: Bed temperature imbalance!
    TURN_OFF_HEATERS
    {% endif %}

[delayed_gcode BED_TEMP_MONITOR]
initial_duration: 15
gcode:
  BED_TEMP_CHECK
  UPDATE_DELAYED_GCODE ID=BED_TEMP_MONITOR DURATION=15

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.061250, 0.043750, -0.010000, 0.002500, 0.027500
#*# 	  0.033750, 0.016250, -0.000000, 0.023750, 0.047500
#*# 	  0.053750, 0.036250, 0.017500, 0.037500, 0.062500
#*# 	  0.067500, 0.046250, 0.001250, 0.027500, 0.001250
#*# 	  0.075000, 0.011250, -0.015000, -0.018750, 0.011250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 320.0
#*# min_y = 30.0
#*# max_y = 320.0
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 110.8
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 62.8
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.114
#*# pid_ki = 1.182
#*# pid_kd = 689.657
